<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Loops</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <!-- prints the loop as a li's vertically -->
    <% data.forEach(r => { %>
      <li> <%= r %> </li>
    <% }); %>


    <!-- prints the loop as a string seperated by comma-->
    <!-- <h1><%= data %></h1> -->


  </body>
</html>